.yahtze_container {
  width: 100%;
  display: flex;
  /* height: 70%; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: purple;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.sidebar button {
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
  background-color: purple;
  border: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Akshar", sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: orangered;
  text-transform: capitalize;
  transition: all 0.4s;
}

.sidebar button.disabled {
  background-color: gray;
}

.sidebar h1 {
  color: #fff;
  font-family: "Akshar", sans-serif;
  margin-bottom: 20px;
}
.ScoreTable {
  background: white;
  width: 50%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
table {
  width: 80%;
  border-spacing: 0;
  /*   margin: 0 auto; */
  /*   min-width: 400px; */
}

td {
  border-bottom: 1px solid black;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: "Akshar", sans-serif;
}
td:first-child {
  text-align: left;
}
td:nth-child(2) {
  text-align: right;
}

.dice-container i {
  font-size: 5rem;
  color: #fff;
  margin-right: 5px;
  transition: all 0.4s;
  width: 70px;
  height: 80px;
  display: inline-block;
}

.dice-container i.fa-question {
  font-size: 4rem !important;
}

tr span {
  background: rgba(33, 150, 243, 1);
  padding: 0.3rem;
  border-radius: 1rem;
  color: white;
}

.ScoreTable h2 {
  font-family: "Akshar", sans-serif;
}

.yahtze_fluid {
  padding: 20px 0 0;
}

.table_common_box {
  display: flex;
  align-items: center;
}

.tbl_box {
  height: 30px;
  width: 65px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Akshar", sans-serif;
  font-weight: bold;
  margin: 1px;
  text-transform: capitalize;
  transition: all 0.2s;
}

.you_row .tbl_box,
.enemy_row .tbl_box {
  cursor: pointer;
}
.tbl_box:first-child {
  /* width: 144px; */
  font-weight: normal;
}

.you_row.disable,
.enemy_row.disable {
  pointer-events: none;
  opacity: 0.8;
}

.tbl_box.bold {
  font-weight: bold;
}
.tbl_box.purple {
  background-color: purple;
  color: #fff;
}

.tbl_box.completed {
  background-color: aquamarine;
  pointer-events: none;
}

.rotateAnime {
  animation: rotateAnime 0.4s linear forwards;
}
@keyframes rotateAnime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fas {
  cursor: pointer;
}

.fas.disable {
  animation: unset;
  color: mediumspringgreen;
}

.table_common_box:nth-child(7) {
  margin-bottom: 10px;
}

.tbl_titles {
  width: 155px;
}

.tbl_box.green {
  color: green;
}
.tbl_box.red {
  color: red;
}

.rol_counter {
  background-color: #fff;
  color: orangered;
  font-family: "Akshar", sans-serif;
  display: inline-block;
  padding: 3px 19px;
  border-radius: 3px;
  margin: 25px 0 0px;
}

/* media  */
@media only screen and (max-width: 940px) {
  .yahtze_container {
    flex-wrap: wrap;
  }

  .sidebar,
  .ScoreTable {
    width: 100%;
    padding: 20px 0;
  }

  .dice-container i {
    font-size: 4rem;
  }
  .sidebar h1 {
    color: #fff;
    font-family: "Akshar", sans-serif;
    margin-bottom: 10px;
  }
  .sidebar button {
    padding: 4px 39px;

    margin-top: 12px;

    font-size: 20px;
  }
}
