.ct_container {
  display: block;
  max-width: 515px;
  margin: 0 auto;
  position: relative;
}

.ct_container:after {
  content: "";
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    #eed399 0,
    #eed399 56%,
    transparent 57%,
    transparent 100%
  );
  width: 150%;
  height: 100%;
}

.ct_fluid {
  width: 100%;
  height: 100%;
  background: #0091d3;
  height: calc(100vh - 80px);
}

.cat_coastline {
  background-image: url(../img/coastline.webp);
  background-size: 100% 200%;
  height: 91px;
  position: absolute;
  transition: all 0.1s ease-in;
  width: 306px;
  z-index: 1;
}
.cat_coastline_1p {
  background-position: 0 -100%;
}
.cat_coastline_2p {
  background-position: 0 0;
}
.cat_coastline_n1 {
  bottom: -63px;
  left: 138px;
}
.cat_coastline_n2 {
  bottom: 95px;
  right: -121px;
  transform: rotate(-60deg);
}
.cat_coastline_n3 {
  top: 82px;
  right: -77px;
  transform: rotate(-120deg);
}
.cat_coastline_n4 {
  left: 50px;
  top: -4px;
  transform: rotate(-180deg);
}
.cat_coastline_n5 {
  left: -137px;
  top: 153px;
  transform: rotate(120deg);
}
.cat_coastline_n6 {
  bottom: 23px;
  left: -93px;
  transform: rotate(60deg);
}
.ct_block {
  width: 100px;
  height: 115px;
  position: absolute;
  z-index: 1;
}

.ct_block img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ct_inner_container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  height: calc(100vh - 180px);
  position: relative;
}

.ct_block:nth-child(1) {
  top: 56px;
  left: 100px;
}
.ct_block:nth-child(2) {
  top: 56px;
  left: 200px;
}
.ct_block:nth-child(3) {
  top: 56px;
  left: 299px;
}
.ct_block:nth-child(4) {
  top: 143px;
  left: 50px;
}
.ct_block:nth-child(5) {
  top: 143px;
  left: 150px;
}
.ct_block:nth-child(6) {
  top: 143px;
  left: 250px;
}
.ct_block:nth-child(7) {
  top: 143px;
  left: 349px;
}
.ct_block:nth-child(8) {
  top: 230px;
  left: 0;
}
.ct_block:nth-child(9) {
  top: 230px;
  left: 100px;
}
.ct_block:nth-child(10) {
  top: 230px;
  left: 200px;
}
.ct_block:nth-child(11) {
  top: 230px;
  left: 300px;
}
.ct_block:nth-child(12) {
  top: 230px;
  left: 400px;
}
.ct_block:nth-child(13) {
  top: 317px;
  left: 50px;
}
.ct_block:nth-child(14) {
  top: 317px;
  left: 150px;
}
.ct_block:nth-child(15) {
  top: 317px;
  left: 250px;
}
.ct_block:nth-child(16) {
  top: 317px;
  left: 350px;
}
.ct_block:nth-child(17) {
  top: 404px;
  left: 100px;
}
.ct_block:nth-child(18) {
  top: 404px;
  left: 200px;
}
.ct_block:nth-child(19) {
  top: 404px;
  left: 300px;
}

.ct_ship {
  width: 49px;
  height: 49px;
  position: absolute;
  background: url(../img/harbors.webp);
  z-index: 30;
}

.ship_tree {
  background-size: 700% 100%;
  background-position: -499%;
}
.ship_rock {
  background-position: -400%;
  background-size: 700% 100%;
  width: 41px;
  height: 41px;
}
.ship_sheep {
  background-position: 0;
  background-size: 700% 100%;
}
.ship_tree {
  background-position: -300%;
  background-size: 700% 100%;
}

.ship_three {
  background-position: -499%;
  background-size: 700% 100%;
}
.ship_brick {
  background-position: -200%;
  background-size: 700% 100%;
}
.ship_hay {
  background-position: -100%;
  background-size: 700% 100%;
}
.ct_ship:nth-child(1) {
  top: 8px;
  left: 85px;
}
.ct_ship:nth-child(2) {
  top: 4px;
  left: 257px;
}
.ct_ship:nth-child(3) {
  top: 97px;
  left: 420px;
}
.ct_ship:nth-child(4) {
  top: 353px;
  left: -16px;
}
.ct_ship:nth-child(5) {
  top: 504px;
  left: 68px;
}
.ct_ship:nth-child(6) {
  top: 512px;
  left: 262px;
}
.ct_ship:nth-child(7) {
  top: 156px;
  left: -15px;
}
.ct_ship:nth-child(8) {
  top: 267px;
  right: -49px;
}
.ct_ship:nth-child(9) {
  top: 421px;
  right: 34px;
}
