.ball {
  width: 28px;
  height: 28px;
  background-color: orangered;
  border-radius: 50%;
  /* transition: all 0.4s; */
}

.breakout_fluid {
  display: flex;
  max-width: 1000px;
  height: 84vh;
  background: burlywood;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: center;
}
